body {
  background-color: #192444;
  margin: 3%;
}

.card_size {
   background-color: #1f2c56;
   width: 250px;
   height: 160px;
}
.card_container {
  border-radius: 5px;
  background-color: #1f2c56;
  margin: 30px;
  padding: 5px;
  position: relative;
  box-shadow: 2px 2px 2px #1f2c56;
}

.create_container {
  border-radius: 5px;
  background-color: #1f2c56;
  margin: 15px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #1f2c56;
}

.create_container1 {
  border-radius: 5px;
  background-color: #1f2c56;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #1f2c56;
}




.dcc_compon {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.fix_label {
  text-align:center;
  font-size: 20px;
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}


.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#header {
  align-items: center;
}

#refresh-data {
  text-align: center;
  height: 100%;
  padding: 0 20px;
  text-transform: none;
  font-size: 20px;
  float: right;
  margin-right: 10px;
  margin-top: 30px;
}

#title {
  text-align: center;
}

#title1 {
  text-align: center;
}

#mainContainer {
  display: flex;
  flex-direction: column;

}

.Select-control, .Select-menu-outer, .Select-multi-value-wrapper, .select-up, .is-open .Select-control {
  background-color: white;
  color: black;

}

.Select-control{
  border: 0.5px solid green;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f2c56 !important;
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #192444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white !important;
}

.big {
            flex-basis: 400px ;


        }
.modal {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 1055;
          display: none;
          width: 100%;
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          outline: 0;
        }

        .modal-dialog {
          position: relative;
          width: auto;
          margin: 0.5rem;
          pointer-events: none;
        }
        .modal.fade .modal-dialog {
          transition: transform 0.3s ease-out;
          transform: translate(0, -50px);
        }
        @media (prefers-reduced-motion: reduce) {
          .modal.fade .modal-dialog {
            transition: none;
          }
        }
        .modal.show .modal-dialog {
          transform: none;
        }
        .modal.modal-static .modal-dialog {
          transform: scale(1.02);
        }

        .modal-dialog-scrollable {
          height: calc(100% - 1rem);
        }
        .modal-dialog-scrollable .modal-content {
          max-height: 100%;
          overflow: hidden;
        }
        .modal-dialog-scrollable .modal-body {
          overflow-y: auto;
        }

        .modal-dialog-centered {
          display: flex;
          align-items: center;
          min-height: calc(100% - 1rem);
        }

        .modal-content {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          pointer-events: auto;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 0.3rem;
          outline: 0;
        }

        .modal-backdrop {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 1050;
          width: 100vw;
          height: 100vh;
          background-color: #000;
        }
        .modal-backdrop.fade {
          opacity: 0;
        }
        .modal-backdrop.show {
          opacity: 0.5;
        }

        .modal-header {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: space-between;
          padding: 1rem 1rem;
          border-bottom: 1px solid #dee2e6;
          border-top-left-radius: calc(0.3rem - 1px);
          border-top-right-radius: calc(0.3rem - 1px);
        }
        .modal-header .btn-close {
          padding: 0.5rem 0.5rem;
          margin: -0.5rem -0.5rem -0.5rem auto;
        }

        .modal-title {
          margin-bottom: 0;
          line-height: 1.5;
        }

        .modal-body {
          position: relative;
          flex: 1 1 auto;
          padding: 1rem;
        }

        .modal-footer {
          display: flex;
          flex-wrap: wrap;
          flex-shrink: 0;
          align-items: center;
          justify-content: flex-end;
          padding: 0.75rem;
          border-top: 1px solid #dee2e6;
          border-bottom-right-radius: calc(0.3rem - 1px);
          border-bottom-left-radius: calc(0.3rem - 1px);
        }
        .modal-footer > * {
          margin: 0.25rem;
        }

        @media (min-width: 576px) {
          .modal-dialog {
            max-width: 500px;
            margin: 1.75rem auto;
          }

          .modal-dialog-scrollable {
            height: calc(100% - 3.5rem);
          }

          .modal-dialog-centered {
            min-height: calc(100% - 3.5rem);
          }

          .modal-sm {
            max-width: 300px;
          }
        }
        @media (min-width: 992px) {
          .modal-lg,
        .modal-xl {
            max-width: 800px;
          }
        }
        @media (min-width: 1200px) {
          .modal-xl {
            max-width: 1140px;
          }
        }
        .modal-fullscreen {
          width: 100vw;
          max-width: none;
          height: 100%;
          margin: 0;
        }
        .modal-fullscreen .modal-content {
          height: 100%;
          border: 0;
          border-radius: 0;
        }
        .modal-fullscreen .modal-header {
          border-radius: 0;
        }
        .modal-fullscreen .modal-body {
          overflow-y: auto;
        }
        .modal-fullscreen .modal-footer {
          border-radius: 0;
        }

        @media (max-width: 575.98px) {
          .modal-fullscreen-sm-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0;
          }
          .modal-fullscreen-sm-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
          }
          .modal-fullscreen-sm-down .modal-header {
            border-radius: 0;
          }
          .modal-fullscreen-sm-down .modal-body {
            overflow-y: auto;
          }
          .modal-fullscreen-sm-down .modal-footer {
            border-radius: 0;
          }
        }
        @media (max-width: 767.98px) {
          .modal-fullscreen-md-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0;
          }
          .modal-fullscreen-md-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
          }
          .modal-fullscreen-md-down .modal-header {
            border-radius: 0;
          }
          .modal-fullscreen-md-down .modal-body {
            overflow-y: auto;
          }
          .modal-fullscreen-md-down .modal-footer {
            border-radius: 0;
          }
        }
        @media (max-width: 991.98px) {
          .modal-fullscreen-lg-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0;
          }
          .modal-fullscreen-lg-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
          }
          .modal-fullscreen-lg-down .modal-header {
            border-radius: 0;
          }
          .modal-fullscreen-lg-down .modal-body {
            overflow-y: auto;
          }
          .modal-fullscreen-lg-down .modal-footer {
            border-radius: 0;
          }
        }
        @media (max-width: 1199.98px) {
          .modal-fullscreen-xl-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0;
          }
          .modal-fullscreen-xl-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
          }
          .modal-fullscreen-xl-down .modal-header {
            border-radius: 0;
          }
          .modal-fullscreen-xl-down .modal-body {
            overflow-y: auto;
          }
          .modal-fullscreen-xl-down .modal-footer {
            border-radius: 0;
          }
        }
        @media (max-width: 1399.98px) {
          .modal-fullscreen-xxl-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0;
          }
          .modal-fullscreen-xxl-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
          }
          .modal-fullscreen-xxl-down .modal-header {
            border-radius: 0;
          }
          .modal-fullscreen-xxl-down .modal-body {
            overflow-y: auto;
          }
          .modal-fullscreen-xxl-down .modal-footer {
            border-radius: 0;
          }
        }

        .table {
          --bs-table-bg: transparent;
          --bs-table-accent-bg: transparent;
          --bs-table-striped-color: #212529;
          --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
          --bs-table-active-color: #212529;
          --bs-table-active-bg: rgba(0, 0, 0, 0.1);
          --bs-table-hover-color: #212529;
          --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
          width: 100%;
          margin-bottom: 1rem;
          color: #212529;
          vertical-align: top;
          border-color: #dee2e6;
        }
        .table > :not(caption) > * > * {
          padding: 0.5rem 0.5rem;
          background-color: var(--bs-table-bg);
          border-bottom-width: 1px;
          box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
        }
        .table > tbody {
          vertical-align: inherit;
        }
        .table > thead {
          vertical-align: bottom;
        }
        .table > :not(:first-child) {
          border-top: 2px solid currentColor;
        }

        .caption-top {
          caption-side: top;
        }

        .table-sm > :not(caption) > * > * {
          padding: 0.25rem 0.25rem;
        }

        .table-bordered > :not(caption) > * {
          border-width: 1px 0;
        }
        .table-bordered > :not(caption) > * > * {
          border-width: 0 1px;
        }

        .table-borderless > :not(caption) > * > * {
          border-bottom-width: 0;
        }
        .table-borderless > :not(:first-child) {
          border-top-width: 0;
        }

        .table-striped > tbody > tr:nth-of-type(odd) > * {
          --bs-table-accent-bg: var(--bs-table-striped-bg);
          color: var(--bs-table-striped-color);
        }

        .table-active {
          --bs-table-accent-bg: var(--bs-table-active-bg);
          color: var(--bs-table-active-color);
        }

        .table-hover > tbody > tr:hover > * {
          --bs-table-accent-bg: var(--bs-table-hover-bg);
          color: var(--bs-table-hover-color);
        }

        .table-primary {
          --bs-table-bg: #cfe2ff;
          --bs-table-striped-bg: #c5d7f2;
          --bs-table-striped-color: #000;
          --bs-table-active-bg: #bacbe6;
          --bs-table-active-color: #000;
          --bs-table-hover-bg: #bfd1ec;
          --bs-table-hover-color: #000;
          color: #000;
          border-color: #bacbe6;
        }

        .table-secondary {
          --bs-table-bg: #e2e3e5;
          --bs-table-striped-bg: #d7d8da;
          --bs-table-striped-color: #000;
          --bs-table-active-bg: #cbccce;
          --bs-table-active-color: #000;
          --bs-table-hover-bg: #d1d2d4;
          --bs-table-hover-color: #000;
          color: #000;
          border-color: #cbccce;
        }

        .table-success {
          --bs-table-bg: #d1e7dd;
          --bs-table-striped-bg: #c7dbd2;
          --bs-table-striped-color: #000;
          --bs-table-active-bg: #bcd0c7;
          --bs-table-active-color: #000;
          --bs-table-hover-bg: #c1d6cc;
          --bs-table-hover-color: #000;
          color: #000;
          border-color: #bcd0c7;
        }

        .table-info {
          --bs-table-bg: #cff4fc;
          --bs-table-striped-bg: #c5e8ef;
          --bs-table-striped-color: #000;
          --bs-table-active-bg: #badce3;
          --bs-table-active-color: #000;
          --bs-table-hover-bg: #bfe2e9;
          --bs-table-hover-color: #000;
          color: #000;
          border-color: #badce3;
        }

        .table-warning {
          --bs-table-bg: #fff3cd;
          --bs-table-striped-bg: #f2e7c3;
          --bs-table-striped-color: #000;
          --bs-table-active-bg: #e6dbb9;
          --bs-table-active-color: #000;
          --bs-table-hover-bg: #ece1be;
          --bs-table-hover-color: #000;
          color: #000;
          border-color: #e6dbb9;
        }

        .table-danger {
          --bs-table-bg: #f8d7da;
          --bs-table-striped-bg: #eccccf;
          --bs-table-striped-color: #000;
          --bs-table-active-bg: #dfc2c4;
          --bs-table-active-color: #000;
          --bs-table-hover-bg: #e5c7ca;
          --bs-table-hover-color: #000;
          color: #000;
          border-color: #dfc2c4;
        }

        .table-light {
          --bs-table-bg: #f8f9fa;
          --bs-table-striped-bg: #ecedee;
          --bs-table-striped-color: #000;
          --bs-table-active-bg: #dfe0e1;
          --bs-table-active-color: #000;
          --bs-table-hover-bg: #e5e6e7;
          --bs-table-hover-color: #000;
          color: #000;
          border-color: #dfe0e1;
        }

        .table-dark {
          --bs-table-bg: #212529;
          --bs-table-striped-bg: #2c3034;
          --bs-table-striped-color: #fff;
          --bs-table-active-bg: #373b3e;
          --bs-table-active-color: #fff;
          --bs-table-hover-bg: #323539;
          --bs-table-hover-color: #fff;
          color: #fff;
          border-color: #373b3e;
        }

        .table-responsive {
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
        }

        @media (max-width: 575.98px) {
          .table-responsive-sm {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
          }
        }
        @media (max-width: 767.98px) {
          .table-responsive-md {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
          }
        }
        @media (max-width: 991.98px) {
          .table-responsive-lg {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
          }
        }
        @media (max-width: 1199.98px) {
          .table-responsive-xl {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
          }
        }
        @media (max-width: 1399.98px) {
          .table-responsive-xxl {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
          }
        }

        .btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
}
.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}



.btn-light {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:hover {
  color: #000;
  background-color: #f9fafb;
  border-color: #f9fafb;
}
.btn-check:focus + .btn-light, .btn-light:focus {
  color: #000;
  background-color: #f9fafb;
  border-color: #f9fafb;
  box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-check:checked + .btn-light, .btn-check:active + .btn-light, .btn-light:active, .btn-light.active, .show > .btn-light.dropdown-toggle {
  color: #000;
  background-color: #f9fafb;
  border-color: #f9fafb;
}
.btn-check:checked + .btn-light:focus, .btn-check:active + .btn-light:focus, .btn-light:active:focus, .btn-light.active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-light:disabled, .btn-light.disabled {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}


.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:hover {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-check:focus + .btn-outline-light, .btn-outline-light:focus {
  box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}
.btn-check:checked + .btn-outline-light, .btn-check:active + .btn-outline-light, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-check:checked + .btn-outline-light:focus, .btn-check:active + .btn-outline-light:focus, .btn-outline-light:active:focus, .btn-outline-light.active:focus, .btn-outline-light.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}
.btn-outline-light:disabled, .btn-outline-light.disabled {
  color: #f8f9fa;
  background-color: transparent;
}


.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

        
